@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Regular.woff");
  font-weight: 400;
}
